.btn {
  border: none;
  color: $color-dark-gray;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    transition: color $transition-200;
  }

  &:hover {
    svg {
      color: rgb(66, 66, 66);
    }
  }

  &--active {
    svg {
      color: $color-rude-orange;
    }
  }

  &--like {
    svg {
      color: rgba($color-rude-orange, 0.8);
      transform: scale(1);
      transition: transform $transition-200, color $transition-200;
    }

    &:hover {
      svg {
        color: $color-rude-orange;
        transform: scale(1.3);
      }
    }
  }

  &--liked {
    svg {
      color: $color-rude-orange;
    }
  }
}
