.music-player {
  width: 100%;
  z-index: 10;
  max-height: 150px;
  border-top: 1px solid $color-smoke-gray;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $color-white;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 500px) 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 19px 38px;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img-wrapper {
    border-radius: 50%;
    overflow: hidden;

    &--animated {
      .music-player__img {
        animation: rotate-img 3s linear infinite;
        transform-origin: center;
      }
    }
  }

  &__upper-info {
    display: flex;
    gap: 15px;
  }

  &__like-btn {
  }

  &__track-title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  &__track-name {
    margin: 0;
    padding: 0;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  &__btn-wrapper {
    display: flex;
  }

  &__play {
    position: relative;
    &--paused {
      .music-player__play-icon {
        opacity: 0;
      }

      .music-player__pause-icon {
        opacity: 1;
      }
    }
  }

  &__play-icon {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }

  &__pause-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  &__progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__progress-bar {
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background-color: $color-smoke-gray;
    cursor: pointer;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    background: #4285f4;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
  }

  &__progress {
    position: relative;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: $color-rude-orange;
    transition: width 0.3s linear;
    transform-origin: left center;
    will-change: width;
  }

  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__volume {
    position: relative;
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
  }

  &__volume-icon {
    padding: 0;
  }

  &__volume-input {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
    width: 72px;
    height: 4px;
    background: linear-gradient(to right, #fc6d3e 50%, #e8e8e8 50%);
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: $color-rude-orange;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      // box-shadow: -100px 0 0 100px $color-rude-orange;
      transition: transform 0.2s ease-in;
      // transform: scale(1);

      &:hover {
        transform: scale(1.3);
      }
    }

    &::-moz-progress-bar {
      appearance: none;
      background-color: $color-rude-orange;
      border: 0;
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }
  }
}

@keyframes rotate-img {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
